:host {
  display: block;
  perspective: 1000px;
}
// required, otherwise it looked like the state was lost when animation was triggered by parent
.card__inner {
  transform-style: preserve-3d;
  position: relative;
}

.card__back,
.card__front {
  backface-visibility: hidden;
}


.card__back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.card__back {
  z-index: 1;
  transform: rotateY(0deg);
}

.card__front {
  z-index: 2;
  transform: rotateY(180deg);
}