:host {
  display: block;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  min-width: 100px;
  max-width: 20vmax;
  width: 100%;
  padding-top: 50px;

  border: 0 solid #000000;
  box-shadow: 0 2px 4px 2px rgba(0,0,0,0.50);
  background-color: rgba(#000000, 0.1);
  border: 3px solid transparent
}



:host.have-turn {
  border: 3px solid hotpink;
}


.name {
  font-family: 'Lithos Pro';
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 10px;
  align-items: center;
}

.deck {
  margin-right: 40px;
}

.discard {
  // width: 200px;
}
.hand {
  width: 150px;
  max-width: 50%;
  position: absolute;
  top: 5px;
  right: 0;
}