<a class="start-button" skipbo-button routerLink="/game/start">Start</a>
<a class="home-button" skipbo-button routerLink="/">Home</a>

<h1>How To Play Skip-BO: Rules for the Skip-Bo Card Game</h1>

<h2>Skip Bo Instructions</h2>

<p>Object: Be the first player to play every card in your Stock pile, by playing all of your cards in numerical order, 1 to 12. For two to six players ages seven and up.</p>

<p>Manufacturer: International Games/Mattel</p>

<p>Contents: 144 numbered cards and 18 SKIP-BO cards. 162 cards total.</p>

<p>
    <strong>Beginning Play:</strong> Shuffle the deck. Each player draws a card. The person with the highest card is the dealer. The dealer deals 30 cards to each player if there are two to four players. In five to six player games, each player is dealt 20 cards. These cards are dealt face down and form each player’s Stock pile. Once all Stock piles have been dealt, each player flips the top card of their Stock pile right side up and places it on top of the pile. The remaining cards not dealt are placed face down on the table to form the draw pile.
    Playing Area: Each player is going to need room for four Discard piles near their Stock pile. You will also need room for four Building piles in the center of the table near the draw pile. These piles are formed as the game progresses—so make sure you leave space for them.

</p>
<p>
    <strong>Stock Pile:</strong> The top card is always face up. Each player has a Stock pile.
</p>

<p>
  <strong>Draw Pile:</strong>
   This is the pile in the center of the playing area created with all cards remaining after Stock piles are dealt.
</p>

<p>
  <strong>Building Piles</strong>: Building piles are where players build the 1-12 sequences and can only be started with a 1 or a SKIP-BO (SKIP-BO cards are wild, so it would represent a 1 if used to start a sequence). Once a pile has the complete 1-12 sequence, remove it from the playing area and start a new building pile.
</p>

<p>Terrible Game if Your Name is “Bo”</p>

<p>
  <strong>
      Discard Pile:
  </strong>
  Each player may form sequences an any of their four discard piles. There is no limit to the number of cards in the pile, nor is there a restriction on the order. The top card of your discard piles is available for forming sequences (can be played).</p>

  <p>
    <strong>Playing Skip-Bo:</strong> Play begins to the left of the dealer. Draw five cards at the beginning of your first turn (and back up to five on subsequent turns). You can use a Skip-Bo (wild card) or a 1 to begin one of the four building piles in the center of the playing area. You may continue to play cards from your hand onto the building area (1-12 in sequence only). If you play all five cards in this manner, draw back up to five (this process can repeat if needed). You may also play the top card from your Stock pile onto a building piles, and can continue to play from the Stock pile as long as the play is legal. Remember, you win by running out of your Stock pile, so play from there when you can. Your turn ends when you can’t or refuse to make a play. Discard one card from your hand onto one of your four discard piles. You may play the top card of any of your discard piles on any turn after the first. Play continues clockwise.
</p>

<p>Winning the Game: Choose a point total to play to (500 is recommended to start). The winner of each round scores 25 points for winning the round and five additional points per card remaining in each other player Stock pile.</p>