<span class="name">{{player.name}}</span>
<skipbo-hand
  #hand
  class='hand'
  [canDragItemsToZones]="mergeZones(buildingZones, discard.getDropzones())"
  [cards]="player.hand.cards">
</skipbo-hand>


<skipbo-discard-group
    #discard
    [allowDrop]="true"
    [group]="player.discardGroup"
    [canDragItemsToZones]="buildingZones"
    class="discard">
</skipbo-discard-group>

<skipbo-stock-pile
  #stock
  [canDragItemsToZones]="buildingZones"
  class='stock' [cards]="player.stock.cards">
</skipbo-stock-pile>