:host {
  display: grid;
  // grid-template-columns: [hand] minmax(200px, 2fr) 50px [discard] 4fr auto 50px [stock] 1fr;


  grid-template:
  "hand hand stock"
  ". . stock"
  "discard discard stock";
  grid-gap: 10px;

  @media screen and (min-width: 500px) {
    grid-template:
      "hand discard stock";
    grid-template-columns: minmax(200px, 1fr) 2fr 1fr;
    grid-gap: 50px;
  }

  align-items: center;

  padding: 20px;

  border: 0 solid #000000;
  box-shadow: 0 2px 4px 2px rgba(0,0,0,0.50);
  background-color: rgba(#000000, 0.2);
  position: relative;
}


.hand {
  // grid-column-start: hand;
  grid-area: hand;
}

.discard {
  // grid-column-start: discard;
  // grid-row-start: 2;
  justify-self: center;
  grid-area: discard;
}

.stock {
  grid-area: stock;
}

.name {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  font-family: 'Lithos Pro';
  padding: 5px;
}

.debuglist {
  position: fixed;
  width: 50vw;
  height: 50vw;
  top: 0;
  right: 0;
}

// .cdk-drag-placeholder {
//   width: 200px;
//   // height: 200px;
//   background-color: yellow;
// }

// .cdk-drag-preview {
//   opacity: 0.5;
//   outline:5px solid red;
// }