<button (click)="game.nextPlayer()">Next Player</button><br>
<!-- <button (click)="game.currentPlayer.placeStockCard()">placeStockCard</button><br>
<button (click)="game.currentPlayer.placeHandCard()">placeHandCard</button><br>
<button (click)="game.currentPlayer.placeDiscardCard()">placeDiscardCard</button><br> -->
<button (click)="game.currentPlayer.discardHandCard()">discard</button><br>

<button (click)="automata.playTurn()">automata (turn)</button><br>
<!-- <button (click)="automata.singleStep()">automata (step)</button><br> -->
<button (click)="automata.nextPlayer()">automata (next player)</button><br>
<button (click)="automata.run()">automata (full)</button><br>

<button (click)="gameover()">gameover</button><br>