@import '../../../styles/mixins';

$maxCardsDisplayed: 8;
$padding: percentage(4px/224px);

:host {
  display: block;
  max-width: 300px;
  width: 100%;
  padding-top: calc(#{$maxCardsDisplayed} * 3px);
  position: relative;
}

.slot {
  background-image: url(/assets/placeholder.png);
  padding-bottom: $card-ratio-percentage;
  background-size: contain;
  background-repeat: no-repeat;
}

.stack {
  width: 100%;
  height: 100%;
}

.stack__card {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@for $index from 1 through $maxCardsDisplayed {
  .stack__card:nth-child(#{$index}) {
    transform: translateY(#{$index * -3}px);
  }
}