<div class="welcome-box">
  <h1>Welcome to Skip-Bo!</h1>

  <p>Skip-Bo is yet another highly popular card game sold and marketed by Mattel. Originally, it was created by Hazel Bowman, featuring a mix of features between the card games Spite and Malice. A company called International Games bought the rights to the game in 1980, who then sold it to Mattel in 1992. Today, Skip-Bo is played and enjoyed by millions worldwide.</p>

  <p>Let’s play a round of Skipbo!</p>
  <div class="actions">
    <a class="start-button" skipbo-button routerLink="/game">Play!</a><br>
  </div>
  <p>
    You can also checkout the rules first in our <a routerLink="/game/rulebook">Rulebook →</a>
  </p>
</div>