$ratio: percentage(224px/152px);
$padding: percentage(4px/224px);

:host {
  display: block;
  max-width: 200px;
}

.slot {
  background-image: url(/assets/placeholder.png);
  padding-bottom: $ratio;
  position: relative;
  background-size: cover;
}

.cards {
  position: absolute;
  left: $padding;
  right: $padding;
  bottom: $padding;
}