<a class="home-button" routerLink="/">← Home</a>

<h1>How To Play Skip-Bo</h1>

<p>Skip-Bo is yet another highly popular card game sold and marketed by Mattel. Originally, it was created by Hazel Bowman, featuring a mix of features between the card games Spite and Malice. A company called International Games bought the rights to the game in 1980, who then sold it to Mattel in 1992. Today, Skip-Bo is played and enjoyed by millions worldwide.</p>

Game Objective

<h2>Game Objective</h2>
<p>
  Be the first to get rid of all your cards in your Stock Pile by laying them all down in the Building Piles.
</p>

<h2>Card Types</h2>
<p>
  Skip-Bo is a simple card game that is based on sequencing the numbers, and there are 162 cards in the box. There are only two types of cards in the game. Numbered cards from 1-12, and Skip-Bo cards (which behave like Wild cards). The numbered cards are colored blue (from 1-4), green (from 5-8) and red (from 9-12). The colors have zero relevance in the game; only the number counts. Like other Mattel card games, a Wild card is simply a card that can be substituted for any numbered card as and when needed in the game.
</p>

<figure>
    <img src='/assets/rulebook/card-types.svg' alt=''>
    <figcaption>
      From Left to Right (Skip-Bo card, a blue 1, green 5, and red 9 card).
    </figcaption>
</figure>


<h2>Gameplay</h2>
<p>
  2 to 6 players may take part in a game. Select a player to be the dealer. This person will shuffle the cards and deal out anywhere from 10-30 cards per player (choose less cards for a shorter game). The cards are to remain face down all the time (except the topmost card), and they are to become each respective player’s Stock Pile. These cards are the ones that each player must strive to get rid of. The top card of each player’s Stock Pile is then turned face up (the topmost card must always be turned face up).
</p>

<p>
  The remainder of the cards is placed nearby the center of the playing area to form the main Draw Pile. 4 Building Piles will be created next to the Draw Pile, and used during the game as needed. Each player will also create 4 Discard Piles right in front of them to be used by only themselves during the course of the game.
</p>

<p>
  Anyone can start first (normally the youngest), or the person to the dealer’s left can go first. Play can proceed in a clockwise direction. Each player must always maintain 5 cards in their hand (not counting the cards in their Discard/Stock Piles).
</p>

<p>
    Important to know: At the beginning of your every turn, you must always draw cards from the Draw Pile so as to maintain a total of 5 cards in hand. If you manage to get rid of all your 5 cards in the same turn, IMMEDIATELY draw 5 new cards from the Draw Pile and continue playing by discarding any cards that fit onto the Building Piles.
</p>
<p>
    On your turn, play any card onto the 4 available Building Piles in the center of the playing area, in sequential order. Each of the 4 Building Piles must always begin with number 1, OR a Skip-Bo card (that can act like a number 1 in this situation). If you start first, and you do not have any cards with number 1 or any Skip-Bo card to lay down as the first card onto a Building Pile, you must proceed to the next compulsory step to complete your turn, namely – discard a card onto any one of your 4 provided Discard Piles. If you did not start first but it is now your turn, and you have a suitable number card(s) to place down, proceed to play them onto the Building Pile.
</p>


<figure>
    <img src='/assets/rulebook/gameplay.png'>
    <figcaption>
      At the bottom Player's hand, Stock Pile & Discard Piles. In the center the game deck and building piles used by all players.
      The top shows your opponents.
    </figcaption>
</figure>

<p>
    For example, if currently there are two Building Piles, one with the top card as 3, and another one with 5, and you have a 5, 6, 7, 8, and a Skip Bo card, you may play the cards 6, 7, and 8 on top of the Building Pile with the number 5, adding them in sequential order. The Skip-Bo card meanwhile, can be played on top of the Building Pile with the top card of number 3 (acting as a number 4), and then, you can proceed to place the number 5 card on top of that Skip-Bo card.
</p>

<p>
    If you happen to have a card with number 1, you can also build a NEW Building Pile in the center; the maximum number of allowed Building Piles is 4. Once a Building Pile reaches number 12, that Building Pile is dismantled, and all the cards in that particular pile are moved to the side of the playing area.
</p>

<p>
  Whenever it is your turn, always place the most fitting numbered cards onto the Building Piles. Remember there is no limit to how many cards you can play in a single turn as long as you playable cards. You can play down any suitable cards from your Discard Piles, your Stock Pile, and of course, the cards in your hand. Whenever possible, lay down cards from your Stock Pile, since the goal of the game is to be the first to clear off your Stock Pile.
</p>

<p>
  Once you have run out of any more suitable cards to lay down onto the central Building Piles, as mentioned, you should then place a card onto any one of your 4 Discard Piles and then, your turn is over. Play then continues with the next player in turn.
</p>

<p>
  Remember, once your turn arrives again, pick up any number of cards from the main Draw Pile in order to maintain 5 cards in your hand. The first player to clear off their Stock Pile is the winner.
</p>

<h2>Points to Remember</h2>

<p>
  <strong>Stock Pile:</strong> The Stock Pile is normally 10, 20, or 30 cards (it’s subjective), depending on the number of players playing and what has been agreed upon by all. You should always turn the top card over and if it fits onto the Building Pile, you should play it. After playing the top card, turn the next card over. As long as the card fits into any of the Building Pile sequences, you can keep on playing in the same turn.
</p>

<p>
  <strong>Discard Pile:</strong> Each player can use up to 4 (imaginary) Discard Piles. At the end of your turn when you no longer have any suitable cards to play onto the Building Piles, you must discard a single card onto one of your Discard Piles. You can keep piling on cards onto just one of the Discard Piles or use all 4 allotted slots. The advantage of using all 4 slots is so that you can quickly know if there are any suitable cards hidden below the top card. The cards do not need to be in sequential order. ALL cards in the Discard Pile decks must be turned face up at all times.
</p>

<p>
  <strong>Building Piles:</strong> When a Building Pile reaches card number 12, it cannot be added on any more, and must be moved to the side of the playing area. Once the main Draw Pile has run out of cards, add all these completed Building Piles BACK together again as a new Draw Pile (after shuffling them, of course). There can only be a maximum of 4 Building Piles at any time, even though you may have a number 1 card or Skip-Bo card to start a fifth one.
</p>

<h2>Winning Skip-Bo</h2>
<p>
  Skip-Bo is among the easiest card games to play and win. You just have to be the first to get rid of all your Stock Pile cards. If you wish, you can add point scoring into the game, provided the other players all agree to it. A suggestion is to play several games and whoever finishes their Stock Pile first, scores 25 points for winning the game, plus 5 points for each card remaining in their opponent’s Stock Pile at the end of each game. You can set a target of 100-500 points for every player to attempt as a goal, in order to become the overall champion.
</p>

<div class="actions">
  <a class="start-button" skipbo-button routerLink="/game/start">Start</a>
  <a class="start-button" skipbo-button routerLink="/game/start">Home</a>
</div>

<p class="source">
  Rulebook Source: <a href='https://www.unorules.com/skip-bo-rules/'>https://www.unorules.com/skip-bo-rules/</a>
</p>