:host {
  display: block;
  padding: 20px;
  max-width: 800px;
}

.actions {
  text-align: center;
}

[skipbo-button] + [skipbo-button] {
  margin-left: 10px;
}

.source {
  margin-top: 20px;
  font-size: 12px;
}