:host {
  background-image: url(/assets/playing-background.jpg);
  background-size: cover;
  min-height: 100vh;
  color: #fff;

  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
  padding: 10px 20px;

  justify-items: center;
  align-items: center;
}

footer {
  display: grid;
  gap: 10px;
  grid-auto-flow: column;
}