:host {
  display: block;
  background-image: url(/assets/playing-background.jpg);
  background-size: cover;
  min-height: 100vh;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}