<div class="gameplay" cdkDropListGroup>

  <skipbo-opponents
    class="gameplay__opponents"
    [players]="opponentPlayers">
  </skipbo-opponents>

  <div class='gameplay__game game'>
    <skipbo-card-pile
      [allowDrop]="false"
      [dragEnabled]="false"
      [sourceName]="'deck'"
      class="game__deck"
      [cards]="deck?.cards">
    </skipbo-card-pile>

    <skipbo-pile-group
      [allowDrop]="true"
      #buildingGroupReference
      (cardDropped)="handleDroppedBuildingCard($event)"
      class="game__building"
      [group]="buildingGroup">
    </skipbo-pile-group>
  </div>

  <skipbo-player
    class="gameplay__player"
    [buildingZones]="buildingGroupReference.getDropzones()"
    [player]="player">
  </skipbo-player>
</div>