:host {
  display: block;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  padding: 10px;
  display: grid;
  grid-template-rows: [opponents] auto 20px [game] 2fr 20px [player] auto;
  background-image: url(/assets/playing-background.jpg);
  background-size: cover;
  justify-items: stretch;
  align-items: center;
}

.game {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 50px;
}

.opponents {
  grid-row-start: opponents;
}

.game {
  grid-row-start: game;
  max-width: 1000px;
  width: 100%;
  justify-self: center;
}

.player {
  grid-row-start: player;
  max-width: 1400px;
  width: 100%;
  justify-self: center;
}