<div class="layout" cdkDropListGroup>
  <skipbo-debug-panel class="debug"></skipbo-debug-panel>
  <skipbo-opponents [players]="opponentPlayers" class="opponents"></skipbo-opponents>
  <div class='game'>
    <skipbo-deck
      [cards]="deck.cards" class='game__deck'></skipbo-deck>
    <skipbo-building-group
      #buildingGroupReference
      class="game__building-group" [group]="buildingGroup">
    </skipbo-building-group>
  </div>

  <skipbo-player
    [buildingZones]="buildingGroupReference.getDropzones()"
    *ngIf="player" [player]="player" class='player'>
  </skipbo-player>

</div>

