:host {
  display: block;
}

.layout {
  display: block;
  width: 100vw;
  min-height: 100vh;
  position: relative;
  padding: 10px;
  display: grid;

  grid-template:
    "debug"
    "opponents"
    "game"
    "player";

  grid-template-rows: auto auto auto auto;
  grid-row-gap: 40px;

  background-image: url(/assets/playing-background.jpg);
  background-size: cover;
  justify-items: stretch;
  align-items: center;
}

.game {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 50px;
}

.debug {
  grid-area: debug;
}

.opponents {
  grid-area: opponents;
}

.game {
  grid-area: game;
  max-width: 50vmax;
  width: 100%;
  justify-self: center;
}

.player {
  grid-area: player;
  max-width: 70vmax;
  width: 100%;
  justify-self: center;
}