<div class="gameplay" cdkDropListGroup>

  <skipbo-opponents
    class="gameplay__opponents"
    [players]="opponentPlayers">
  </skipbo-opponents>

  <div class='gameplay__game game'>
    <skipbo-card-pile
      class="game__deck"
      [cards]="deck?.cards">
    </skipbo-card-pile>

    <skipbo-pile-group
      class="game__building"
      [group]="buildingGroup">
    </skipbo-pile-group>
  </div>

  <skipbo-player
    (stock)="playStock()"
    (hand)="playHand()"
    (playDiscard)="playDiscard()"
    (discard)="discardHand()"
    (autoTurn)="playTurn()"
    class="gameplay__player"
    [player]="player">
  </skipbo-player>
</div>