<div
  cdkDropList
  [cdkDropListData]="sourceName"
  [cdkDropListEnterPredicate]="enterPredicate"
  (cdkDropListDropped)="itemDropped($event)"
  [cdkDropListConnectedTo]="canDragItemsToZones"
  cdkDropListOrientation='horizontal'
  class='slot cdkDrop'>
  <div class='stack'>
    <skipbo-card
      *ngFor="let card of _stackCardsCount|times"
      class="stack__card">
    </skipbo-card>

    <skipbo-card
        cdkDrag
        [cdkDragData]="topCard"
        *ngIf="!empty"
        class="stack__card"
        [value]="topCard"
        [revealed]="autoRevealCard">
      </skipbo-card>
  </div>
</div>
