:host {
  display: block;
}

$maxCardsDisplayed: 12;

.stack {
  padding-bottom: percentage(752/500);
  height: 0;
  position: relative;
  // display: grid;
  // grid-template-rows: repeat(#{$maxCardsDisplayed}, 2px);
}

:host ::ng-deep .cdk-drag-placeholder,
.stack__card {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@for $index from 1 through $maxCardsDisplayed {
  .stack__card:nth-child(#{$index}) {
    transform: translateY(#{$index * -3}px);
  }
}

:host ::ng-deep .cdk-drag-placeholder {
  z-index: 1;
}