:host {
  display: block;
}

.handcards {
  display: flex;
  position: relative;
  width: 100%;
}

:host ::ng-deep .cdk-drag-placeholder {
  width: 20%;
}

.handcard:not(.cdk-drag-placeholder) {
  width: 20%;
}

@keyframes rotate {
  0% {
    transform: translate(0%, 0) rotateZ(0);
  }
  100% {
    transform: translate(0%, 0) rotateZ(360deg);
  }
}