:host {
  display: block;
}


::ng-deep .cdk-drag-placeholder {
  width: 100%;
}


.handcards {
  display: flex;
  position: relative;
  justify-content: flex-start;
  // grid-template-columns: repeat(5, 1fr);
}

// To allow this to work we have to
// pad the hand values and generate empty slots
// to always maintain a set of 5 hand slots
.handcard {
  width: 100%;
}

// .handcard {
//   transform-origin: bottom center;
// }

// .handcard:nth-child(1) {
//   transform: rotateZ(0deg);
//   z-index: 5;
// }

// .handcard:nth-child(2) {
//   transform: rotateZ(-25deg);
//   z-index: 4;
//   // animation: 1s rotate infinite;
// }

// .handcard:nth-child(3) {
//   transform: rotateZ(25deg);
//   z-index: 6;
// }

// .handcard:nth-child(4) {
//   transform: rotateZ(-50deg);
//   z-index: 3;
// }

// .handcard:nth-child(5) {
//   transform: rotateZ(50deg);
//   z-index: 7;
// }



@keyframes rotate {
  0% {
    transform: translate(0%, 0) rotateZ(0);
  }
  100% {
    transform: translate(0%, 0) rotateZ(360deg);
  }
}
